.niv-data {
    @apply flex items-center
}

.niv-image {
    @apply w-[48px] h-[48px] border border-[#353535] rounded-[100px] mr-[12px]
}

@media screen and (max-width: 767px) {
    .w-nav-brand {
        @apply pl-[10px]
    }
}

.w-nav {
    @apply z-[1000] relative
}

.w-nav:before,
.w-nav:after {
    @apply content-['_'] [grid-area:1/1/2/2] table
}

.w-nav:after {
    @apply clear-both
}

.w-nav-brand {
    @apply float-left text-[#333] no-underline relative
}

.w-nav-menu {
    @apply float-right relative
}

.w-nav-menu.is-open {
    @apply block! fixed left-0 right-0 top-[92px]
}

@media screen and (max-width: 991px) {
    .w-nav-menu {
        @apply border
    }

    .w-nav[data-collapse='medium'] .w-nav-menu {
        @apply hidden
    }

    .w-nav[data-collapse='medium'] .w-nav-menu.is-visible {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 92px;
        background: white;
        transform: translateY(-50%);
        opacity: 0;
        transition: transform 250ms ease, opacity 250ms ease;
        will-change: transform, opacity;
    }

    .w-nav[data-collapse='medium'] .w-nav-menu.is-visible.is-open {
        transform: translateY(0);
        opacity: 1;
    }

    .w-nav[data-collapse='medium'] .w-nav-button {
        @apply block
    }
}

@media screen and (max-width: 767px) {
    .w-nav-brand {
        @apply pl-[10px]
    }
}

.nav-content {
    @apply w-full h-full gap-x-[36px] gap-y-[36px] flex-col flex
}

.nav-link-image {
    @apply w-[24px] opacity-[0.48]
}

.nav-link-text {
    @apply text-sm
}

.nav-link-container {
    @apply gap-x-[12px] gap-y-[12px] text-[#a8a8a8]
    capitalize border border-[rgba(0,0,0,0)] rounded-[8px]
    justify-start items-center p-[12px] no-underline flex
}

.nav-link-container.w--current {
    @apply text-white bg-[#2b2b2b] border-[#353535]
}

@media screen and (max-width: 991px) {
    .nav-content {
        @apply h-auto gap-x-0 gap-y-0 flex-row justify-between items-center
    }

    .nav-link-container {
        @apply bg-[#1c1c1c] rounded-none p-[18px_28px_18px_32px]
    }

    .nav-link-container:active {
        @apply text-white bg-[#2b2b2b]
    }

    .navbar-icon {
        @apply w-[32px] h-[32px] text-white text-[32px]
    }

    .navbar-icon-button {
        @apply p-[12px] transition-all duration-[0.24s]
    }
}

@media screen and (max-width: 767px) {
    .nav-link-container {
        @apply pl-[24px] pr-[18px]
    }
}
