.w-richtext:before,
.w-richtext:after {
    @apply content-['_'] [grid-area:1/1/2/2] table
}

.w-richtext:after {
    @apply clear-both
}

.w-richtext ul {
    @apply overflow-hidden
}

.projects-container {
    @apply gap-x-6 gap-y-6 items-stretch no-underline flex
}

.single-projects-category {
    @apply flex
}

.single-projects-content {
    @apply flex-col justify-center flex
}

.projects-section {
    @apply gap-x-8 gap-y-8 flex-col flex
}

.projects-category-image {
    @apply w-[82px] h-[82px]
}

.projects-category-image-container {
    -webkit-backdrop-filter: blur(4px);
    @apply min-h-[180px] min-w-[180px] backdrop-blur-xs bg-[rgba(53,53,53,0.12)]
    rounded-[12px] justify-center items-center flex shadow-[0_1px_1px_rgba(255,255,255,0.24),_0_-1px_1px_rgba(255,255,255,0.24)]
}

.project-desc {
    @apply text-[#a8a8a8] leading-[24px]
}

.project-desc.project-desc-list {
    @apply ml-[-24px]
}

@media screen and (max-width: 767px) {
    .projects-container {
        @apply flex-col
    }

    .projects-category-image-container {
        @apply min-h-[124px] min-w-[124px] mb-[-42px] relative
    }

    .single-projects-content {
        @apply relative top-7
    }

    .projects-section {
        @apply gap-x-[68px] gap-y-[68px]
    }

    .projects-category-image {
        @apply w-[64px] h-[64px]
    }
}