main .header {
  border: 1px solid var(--color-border);
}

main .detail {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

main .detail__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
}

main .detail__sidebar {
  display: none;
}

@media (min-width: 1024px) {
  main .detail {
    grid-template-columns: 1fr 14rem;
  }

  main .detail__sidebar {
    display: block;
  }
}
