@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;600&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');
@import "tailwindcss";

/* components */
@import "./button.css";
@import "./typography.css";

/* custom styles */
@import "./w.css";
@import "./sidebar.css";
@import "projects.css";
@import "./project-card.css";


/* page-specific styles */
@import "./index.css";
@import "./about.css";

@theme {
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-mono: 'IBM Plex Mono', sans-serif;
    --font-sans-arial: 'Arial', sans-serif;
    --font-icons: 'webflow-icons';
    --font-sans-raw: sans-serif;
}

/* Basis */

* {
    @apply box-border
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    @apply font-sans h-full
}

body {
    @apply bg-[#161616] text-[#333] font-[14px] font-sans min-h-full m-0 text-[14px] leading-[20px]
}

/* Layout */

aside,
main,
nav,
section {
    @apply block
}

/* Image */

img {
    @apply border-0 max-w-full align-middle inline-block
}

/* Anchors */

a {
    @apply bg-[rgba(0,0,0,0)]
}

a:active,
a:hover {
    @apply outline-none
}

/**** CUSTOM CLASSES ****/

.content {
    @apply w-[100vw] h-[100vh] flex
}