---
import { introContent as intro } from "../../data/intro.ts";
---

<h1>
  {intro.title}
</h1>
<p class="lead">
  {intro.subtitle}
</p>
<p class="whitespace-pre-line">
  {
    intro.desc.map((desc) => (
      <>
        {desc}
        <br />
      </>
    ))
  }
</p>
