---
import Layout from "../layouts/Layout.astro";
import FadeInSection from "../components/motion/FadeInSection.tsx";
import Button from "../components/Button.astro";
---

<Layout title="7591yj">
  <main class="container-main">
    <section class="py-32 text-center">
      <FadeInSection client:load>
        <div class="content-container">
          <h1 class="text-5xl font-bold mb-4 tracking-tight">500 Error</h1>
          <p class="text-xl text-[var(--color-text-secondary)] mb-8 mx-auto">
            Oops! Server is Currently Unable to Handle This Request.
          </p>
          <Button variant="reverse" href="/"> Back to Home </Button>
        </div>
      </FadeInSection>
    </section>
  </main>
</Layout>
