---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
---

<Layout title="7591yj | Blog">
  <main>
    <section>
      <PageHeading module="MODULE.002///" title="Blog" />
      <div></div>
    </section>

    <style>
      div {
        border: 1px solid var(--color-border);
        border-top: 0;
      }

      a {
        text-decoration: underline;
      }

    </style>
  </main>
</Layout>
