---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
---

<Layout title="7591yj | Blog">
  <main>
    <section>
      <PageHeading module="MODULE.002///" title="Blog" />
      <div></div>
    </section>

    <style>
      div {
        border: 1px solid var(--color-border);
        border-top: 0;
      }

      a {
        text-decoration: underline;
      }

      .subheading {
        padding: 2.2vh;
        padding-left: 6.4vh;
        padding-right: 6.4vh;
        background: var(--color-bg-secondary);
        color: var(--color-text-secondary);
        font-weight: bold;
      }
    </style>
  </main>
</Layout>
