---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import Button from "../components/Button.astro";
---

<Layout title="7591yj | Projects">
  <main>
    <section>
      <PageHeading module="MODULE.001///" title="Projects" />
      <div>
        <nav class="project-nav">
          <Button variant="icon" class="previous-button">
            <Icon name="carbon:triangle-left-solid" />
          </Button>
          <Button variant="icon" class="next-button">
            <Icon name="carbon:triangle-right-solid" />
          </Button>
        </nav>
      </div>
    </section>

    <style>
      div {
        border: 1px solid var(--color-border);
        border-top: 0;
      }

      a {
        text-decoration: underline;
      }

      .project-nav {
        display: flex;
        justify-content: flex-end;
      }

      .project-nav > button {
        margin: 2vh;
        margin-left: 0vh;
      }
    </style>
  </main>
</Layout>
