---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="section-block">
  <div class="subheading">
    <h2 class="text-xl tracking-tight">{title}</h2>
  </div>
  <slot />
</div>

<style>
  .section-block {
    border: 1px solid var(--color-border);
    border-top: 0;
  }

  .section-block:last-of-type {
    border-bottom: 0;
  }

  .subheading {
    padding: 2.2vh;
    padding-left: 6.4vh;
    padding-right: 6.4vh;
    background: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    font-weight: bold;
  }
</style>
