---
import { NAME } from "../consts.ts";
---

<h1>
  Hi, I'm {NAME}.<br />I craft web solutions.
</h1>
<p class="lead">
  Junior software engineer with a product-first mindset and team leadership
  experience.
</p>
<p>
  <br />
  I am a software engineer who takes projects from concept to release.
  <br />
  My experience includes product managing, leading small engineering teams, and developing
  across the full stack.
  <br />
  I am driven by building robust, user-centric solutions and enjoy owning the technical
  and managerial aspects required to ship a successful product.
</p>
